EPIC_BASE_URL=https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4/
EPIC_TOKEN_URL=https://fhir.epic.com/interconnect-fhir-oauth/oauth2/token
EPIC_AUTH_METHOD=token

# token mode
EPIC_ACCESS_TOKEN=your-access-token-here
EPIC_CLIENT_ID=your-client-id-here
EPIC_PRIVATE_KEY_PATH=./secrets/epic_private_key.pem

# Fill in with sandbox data
EPIC_PATIENT_IDS=your-patient-id-here
DOCUMENT_REFERENCE_IDS=

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2:11b

RAW_NOTES_JSONL=./data/raw/notes_raw.jsonl
CLEAN_NOTES_JSONL=./data/processed/notes_clean.jsonl
SUMMARIES_JSONL=./data/processed/notes_summaries.jsonl
OUTPUT_CSV=./data/processed/notes_summary.csv
REDCAP_JSONL=./data/processed/notes_redcap.jsonl
REDCAP_CSV=./data/processed/redcap_import.csv
